/*Définition des animations par des Keyframes*/

/*Animation du btn "coeur"*/
@keyframes heart-filled {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation du loading spinner */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animation de l'élément contenant le loader */
@keyframes page_chargement {
    0% {
        opacity: 1;
        z-index: 3;
    }
    99% {
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

/*Animations menu page */
/*Plats : plat après plat*/
$anim-dur: 400ms;

@keyframes plat_par_plat {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/* Plats : commande - apparition du btn "plat-commande" (case verte cochée)*/
@keyframes commande {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

/*Animation retour du btn */
@keyframes commande-reverse {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 1;
    }
}


/*Animation pour décaler le prix lors de l'apparition du btn de sélection du plat */
@keyframes prix {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-85px);
    }
}

/*Animation de retour du prix à sa place*/
@keyframes prix-reverse {
    0% {
        transform: translateX(-85px);
    }
    100% {
        transform: translateX(0);
    }
}

/*Animation de décalage du titre du plat*/
@keyframes a_titre {
    0% {
        width: 100%;
    }
    100% {
        width: 80%;
    }
}
/*Animation de retour du titre à sa place*/
@keyframes a_titre-reverse {
    0% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

/*Animation de décalage du texte de description*/
@keyframes a_text {
    0% {
        width: 100%;
    }
    100% {
        width: 62%;
    }
}
/*Animation de retour du texte de description*/
@keyframes a_text-reverse {
    0% {
        width: 62%;
    }
    100% {
        width: 100%;
    }
}

@keyframes icon-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
