@keyframes heart-filled {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* Loading spinner */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes page_chargement {
    0% {
        opacity: 1;
        z-index: 3;
    }
    99% {
        opacity: 1;
        z-index: 3;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

/*Animations menu page */

/* Plats : entrees, plats, desserts */
$duration: 1s;
@keyframes plats {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Plats : commande*/
@keyframes commande {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes commande-reverse {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 1;
        z-index: 2;
    }
}

@keyframes prix {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-85px);
    }
}

@keyframes a_text {
    0% {
        width: 100%;
    }
    100% {
        width: 65%;
    }
}

@keyframes icon-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
